*{
    margin: 5;
    padding: 5;

}

.cabeçalho {
    background-color: rgb(19, 56, 44);
    color:rgb(248, 243, 243);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24 px 0
}

.cabeçalho-imagem {

    width: 12%

}
.cabeçalho-lista-item {

    display: inline-block;
    margin: 0 16px;
    font-size: 24px;

}
.section {
    background-color: black;
    color:rgb(248, 243, 243);
    display: flexbox;
    justify-content: space-around;
    align-items: center;
    padding: 24 px 0

}
.section-imagem {

    width: 15%

}